/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

* {
    padding: 0;
    margin: 0;
}

/* Colors */
:root {
    --turquoise: #66FCF1;
    --dark-turquoise: #45A29E;
    --gray: #C5C6C7;
    --dark-gray: #1F2833;
    --black: #0B0C10;
    --bg: #141416;
}

body {
    background: var(--bg);
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray);
    height: 2000px;
}

main {
    padding-top: 100px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

button, .button {
    background: transparent;
    color: var(--turquoise);
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 22px;
    border: 2px solid var(--turquoise);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

button:hover, .button:hover {
    background: var(--turquoise);
    color: var(--black);
    transition: all 0.4s ease-in;
}

h1,
.h1 {
    font-size: 42px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 35px;
    font-size: 600;
}

h3,
.h3 {
    font-size: 24px;
    font-size: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-turquoise);
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}

a:hover {
    color: var(--turquoise);
}

input, textarea {
    outline: none;
    border: none;
}

body::-webkit-scrollbar {
    width: 0;
}


/* Header */
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 70px;
}

.burger {
    display: flex;
    position: relative;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: var(--dark-turquoise);
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--dark-turquoise);
    transition: all 0.3s ease 0%;
}

.burger:hover span,
.burger:hover::before,
.burger:hover::after {
    background-color: var(--turquoise);
    transition: all 0.4s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active {
    position: absolute;
    top: 25px;
    right: 15px;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* hero */
.hero__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 100px;
}

.hero__title span {
    color: var(--turquoise);
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.hero__description {
    max-width: 470px;
}

.hero__img__box {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(0, 255, 242, 0.5);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img__box:hover {
    background: #00ffee;
    border-radius: 50px;
}

.hero__img__box:hover .hero__img {
    max-width: 400px;
    transition: all 1s ease-in-out;
}

.hero__img {
    width: 100%;
    max-width: 350px;
    transition: all 1s ease-in-out;
}

.hero__link {
    display: flex;
    font-size: 18px;
    font-weight: 300;
}

.hero__link i {
    font-size: 20px;
    transition: 0.8s;

}

.hero__link:hover i {
    transform: rotate(90deg);
    transition: 0.8s;
}


/* About */
.about {
    margin-top: 50vh;
}

.about__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 150px;
}

.about__title {
    color: var(--turquoise);
    display: flex;
    flex-direction: column;
}

.about__title span {
    color: var(--gray);
    font-size: 40px;
    font-weight: 500;
}

.about__description {
    max-width: 500px;
}


/* Skills */
.skills {
    margin-top: 50vh;
}

.skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title span {
    color: var(--turquoise);
}

.skills__block {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills__content .skills__block i {
    font-size: 100px;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.skills__content .skills__block i:hover {
    color: var(--color);
    transition: all 0.4s ease-in-out;
}

/* Project */
.projects {
    margin-top: 50vh;
}
.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    color: var(--turquoise);
    padding-bottom: 30px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.project img {
    max-width: 650px;
    height: 300px;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.project img:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: -3px 3px 5px rgba(64, 224, 208, 0.5);
}

.project__title{
    color: rgb(0, 255, 238, 0.8);
}

.project p {
    padding-left: 10px;
}

.project p span {
    font-weight: 700;
    color: #c4c4c4;
}

.project__link {
    padding-left: 10px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}

.project__link:hover {
    gap: 15px;
}


/* Contact */
.contact {
    margin-top: 50vh;
    padding-bottom: 50vh;
}

.contact__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-form{
    background: rgba(99, 99, 99, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 40px 20px 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.email-form div {
    display: flex;
    flex-direction: column;
    padding: 15px 0;

}

.email-form div label {
    padding-left: 5px;
    padding-bottom: 7px;
    color: var(--turquoise);
    font-weight: 300;
}

.email-form div label span {
    color: red;
}

.email-form div input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding: ;
}











/* Mobile Menu */
.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10;
    right: 0;
    z-index: 999;
    width: 320px;
    display: none;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(31, 40, 51);
    padding-right: 40px;
    text-align: right;
    animation: burgerAnimation 0.5s;
}

.menu__list {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__link {
    font-size: 30px;
    font-weight: 800;
    border-bottom: 1px solid var(--dark-turquoise);
}

.open {
    display: flex !important;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* button up */
.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.btn-up_hide {
    display: none;
}

/* Media */

@media screen and (max-width: 1024px) {}