/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

* {
    padding: 0;
    margin: 0;
}

/* Colors */
:root {
    --color-primary: #66FCF1;
    --color-secondary: #45A29E;
    --gray: #C5C6C7;
    --dark-gray: #1F2833;
    --black: #0B0C10;
    --bg: #141416;
}

.theme-light {
    --bg: #836FFF;
    --font-color: white;
    --color-primary: #66FCF1;
    --color-secondary: white;
    --form-color: rgba(0, 0, 0, 0.8);
    --form-font: var(--color-primary);
    --a-color: black;
}

.theme-dark {
    --bg: #141416;
    --font-color: #C5C6C7;
    --color-primary: #66FCF1;
    --color-secondary: #45A29E;
    --form-color: rgba(42, 42, 42, 0.8);
    --form-font: var(--color-primary);
    --a-color: white;
}

body {
    background: var(--bg);
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    overflow-x: hidden;
}

main {
    padding-top: 100px;
}

.container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

button,
.button {
    background: transparent;
    color: #66FCF1;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 22px;
    border: 2px solid #66FCF1;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

button:hover,
.button:hover {
    background: #66FCF1;
    color: var(--black);
    transition: all 0.4s ease-in;
}

h1,
.h1 {
    font-size: 42px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 35px;
    font-size: 600;
}

h3,
.h3 {
    font-size: 24px;
    font-size: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}

a:hover {
    color: var(--color-secondary);
}

section {
    padding-top: 17vh;
    padding-bottom: 17vh;
}

input,
textarea {
    outline: none;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 0;
}

.stop-scroll {
    overflow: hidden;
}


/* Header */
.header {
    position: relative;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 70px;
}

.burger {
    display: flex;
    position: relative;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: var(--color-secondary);
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondary);
    transition: all 0.3s ease 0%;
}

.burger:hover span,
.burger:hover::before,
.burger:hover::after {
    background-color: #00ffee;
    transition: all 0.4s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.header .container {
    position: static;
}

.burger.active {
    position: absolute;
    top: 25px;
    right: 15px;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header-r {
    display: flex;
    align-items: center;
    gap: 50px;
}


/* hero */
main {
    padding: 0;
}

.hero {
    padding-top: 0;
    align-items: center;
    position: relative;
}

.hero__content {
    padding-top: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 100px;
}

.hero__title {
    color: white;
}

.hero__title span {
    color: var(--color-primary);
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.hero__description {
    color: white;
    max-width: 470px;
}

.hero__img {
    max-width: 300px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 255, 229, 0.7);
}

.hero__link {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: turquoise;
}

.hero__link:hover {
    color: #66FCF1;
}

.hero__link i {
    font-size: 20px;
    transition: 0.8s;
}

.hero__link:hover i {
    transform: rotate(90deg);
    transition: 0.8s;
}


/* About */
.about {
    position: relative;
}

.about__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 150px;
}

.about__title {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

.about__title span {
    color: var(--font-color);
    font-size: 40px;
    font-weight: 500;
}

.about__description {
    max-width: 500px;
}


/* Skills */
.skills {
    position: relative;
}

.skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills__title span {
    color: var(--color-primary);
}

.skills__block {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills__block>* {
    flex: 1 200px;
}

.skills__content .skills__block i {
    font-size: 100px;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.skills__content .skills__block i:hover {
    color: var(--color);
    transition: all 0.4s ease-in-out;
}


/* Project */
.projects {
    position: relative;
}

.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    color: var(--color-primary);
    padding-bottom: 30px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.project img:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: -3px 3px 5px rgba(64, 224, 208, 0.5);
}

.project__title {
    color: var(--color-secondary);
}

.project p {
    padding-left: 10px;
}

.project p span {
    font-weight: 700;
    color: var(--font-color);
}

.project__link {
    padding-left: 10px;
    font-weight: 700;
    display: flex;
    gap: 5px;
    color: #28d8cf;
}

.project__link:hover {
    gap: 15px;
    color: #00ffee;
}


/* Contact */
.contact {
    padding-bottom: 0;
    position: relative;
    padding-bottom: 50px;
}

.contact__title {
    text-align: center;
    color: var(--color-primary);
}

.messengers {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.messenger {
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 40px;
    color: var(--a-color);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.messenger:hover {
    border-color: var(--logoColor);
    color: var(--logoColor);
    transition: all 0.5s ease-in-out;
}

.bi-github {
    color: var(--a-color);
}

.gmail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gmail-icon {
    padding: 0;
    margin: 0;
    width: 40px;
    fill: #000000;
}

.messenger path,
.messenger polygon {
    fill: var(--a-color);
    transition: all 0.5s ease-in-out;
}

.messenger:hover path,
.messenger:hover polygon {
    fill: var(--path-color);
    transition: all 0.5s ease-in-out;
}


/* Mobile Menu */
.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10;
    right: 0;
    z-index: 999;
    width: 320px;
    display: none;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(31, 40, 51);
    padding-right: 40px;
    text-align: right;
    animation: burgerAnimation 0.5s;
}

.menu__list {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__link {
    font-size: 30px;
    font-weight: 800;
    border-bottom: 1px solid;
    color: #45A29E;
}

.menu__link:hover {
    color: #66FCF1;
}

.open {
    display: flex !important;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Theme switch */
.switch {
    position: relative;
    display: inline-block;
    padding: 5px;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 0;
    top: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: rgb(0, 0, 0) url(../../static/icon/moon.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked+.slider {
    background-color: #21f3f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21f3f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background: rgb(255, 255, 255) url(../../static/icon/sun-fill.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}


/* button up */
.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
}


/* DECOR */
.dark__romb {
    position: absolute;
    top: 65%;
    right: 0;
    z-index: -1;
}

.dark__cube1 {
    max-width: 300px;
    position: absolute;
    top: 75%;
    left: 5%;
    z-index: -1;
}

.sphere {
    position: absolute;
    top: 75%;
    right: 5%;
    z-index: -1;
    box-shadow: 40px 40px 70px rgb(0, 0, 0, 0.7);
    border-radius: 50%;
}

.dark__romb2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.romb1,
.romb2,
.romb3,
.romb4 {
    position: absolute;
    z-index: -1;
    width: 150px;
}

.romb1 {
    top: 50%;
    left: 15%;
}

.romb2 {
    top: 70%;
    right: 10%;
}

.romb3 {
    top: 100%;
    left: 10%
}

.romb4 {
    top: 20%;
    left: 10%;
}


/* stars animation */
.stars {
    animation-iteration-count: infinite;
    position: absolute;
}

.star-1 {
    top: 10%;
    left: 5%;
    animation-name: twinkle-1;
    animation-duration: 1.3s;
}

.star-2 {
    top: 25%;
    right: 0;
    animation-name: twinkle-2;
    animation-duration: 1.2s;
}

.star-3 {
    top: 65%;
    left: 40%;
    animation-name: twinkle-1;
    animation-duration: 1.5s;
}

.star-4 {
    bottom: 0;
    right: 10%;
    animation-name: twinkle-2;
    animation-duration: 1.2s;
}

.star-5 {
    bottom: -20%;
    left: 15%;
    animation-name: twinkle-1;
    animation-duration: 1.7s;
}

.star-6 {
    top: 0%;
    left: 20%;
    animation-name: twinkle-1;
    animation-duration: 1.9s;
}

.star-7 {
    top: 50%;
    right: 5%;
    animation-name: twinkle-1;
    animation-duration: 1.9s;
}

.star-8 {
    bottom: -30%;
    left: 10%;
    animation-name: twinkle-1;
    animation-duration: 1.9s;
}

@keyframes twinkle-1 {
    50% {
        transform: scale(0.4);
        opacity: 0.4;
    }
}

@keyframes twinkle-2 {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

#back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

/* text animation */
.text-animation{
    opacity: 0;
    transform: translateY(30px);
}

.text-animation.element-show{
    opacity: 1;
    transition: all 2.0s;
    transform: translateY(0%);
}

.block-animation {
    opacity: 0;
    transform: translateX(-50px);
}

.block-animation.block-show{
    opacity: 1;
    transition: all 2.5s;
    transform: translateX(0%);
}

/* Media */
@media screen and (max-width: 1023px) {
    .hero__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
        gap: 20px;
        padding-top: 50px;
    }

    .hero__text {
        align-items: center;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .romb1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-r {
        gap: 10px;
    }

    .email-form {
        max-width: 400px;
    }

    .romb4 {
        left: 0;
    }

    .skills__block>*{
        flex: 200px;
    }

}

@media screen and (max-width: 425px) {
    .hero__content {
        padding-top: 20px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__description {
        font-size: 18px;
    }

    .email-form {
        max-width: 300px;
    }

    .romb2 {
        top: 10%;
    }

    .romb4 {
        top: 5%;
    }

    .skills__block>*{
        flex: 100px;
    }
}

@media screen and (max-width: 375px) {
    .email-form {
        max-width: 250px;
    }

    .hero__img {
        max-width: 280px;
    }
}

@media screen and (max-width: 320px) {

    .hero__title,
    .about__title,
    .about__title span,
    .skills__title,
    .projects__title {
        font-size: 23px;
    }

    .hero__description,
    .about__description {
        font-size: 15px;
    }

    .project__title,
    .project__link {
        font-size: 18px;
    }

    .project p {
        font-size: 15px;
    }

    .skills__block>* {
        flex: 100px;
    }
    .skills__content .skills__block i {
        font-size: 80px;
    }

    .email-form {
        max-width: 200px;
    }

    .dark__cube1 {
        top: 80%;
    }
}