/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

* {
    padding: 0;
    margin: 0;
}

/* Colors */
:root {
    --color-primary: #66FCF1;
    --color-secondary: #45A29E;
    --gray: #C5C6C7;
    --dark-gray: #1F2833;
    --black: #0B0C10;
    --bg: #141416;
}

.theme-light {
    --bg: rgb(255, 255, 255);
    --font-color: #000000;
    --color-primary: #66FCF1;
    --color-secondary: #000000;
    --form-color: rgba(0, 0, 0, 0.8);
    --form-font: var(--color-primary);
    --bw-color: black;
}

.theme-dark {
    --bg: #141416;
    --font-color: #C5C6C7;
    --color-primary: #66FCF1;
    --color-secondary: #45A29E;
    --form-color: rgba(42, 42, 42, 0.8);
    --form-font: var(--color-primary);
    --bw-color: white;
}

body {
    background: var(--bg);
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    height: 2000px;
}

main {
    padding-top: 100px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

button,
.button {
    background: transparent;
    color: #66FCF1;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 22px;
    border: 2px solid #66FCF1;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

button:hover,
.button:hover {
    background: #66FCF1;
    color: var(--black);
    transition: all 0.4s ease-in;
}

h1,
.h1 {
    font-size: 42px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 35px;
    font-size: 600;
}

h3,
.h3 {
    font-size: 24px;
    font-size: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}

a:hover {
    color: var(--color-secondary);
}

section {
    padding-top: 30vh;
    padding-bottom: 30vh;
}

input,
textarea {
    outline: none;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 0;
}


/* Header */
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 70px;
}

.burger {
    display: flex;
    position: relative;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: var(--color-secondary);
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondary);
    transition: all 0.3s ease 0%;
}

.burger:hover span,
.burger:hover::before,
.burger:hover::after {
    background-color: #00ffee;
    transition: all 0.4s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active {
    position: absolute;
    top: 25px;
    right: 15px;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header-r {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* hero */
.hero {
    padding-top: 0;
}

.hero__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 100px;
}

.hero__title span {
    color: var(--color-primary);
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.hero__description {
    max-width: 470px;
}

.hero__img__box {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(0, 255, 242, 0.5);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img__box:hover {
    background: #00ffee;
    border-radius: 50px;
}

.hero__img__box:hover .hero__img {
    max-width: 400px;
    transition: all 1s ease-in-out;
}

.hero__img {
    width: 100%;
    max-width: 350px;
    transition: all 1s ease-in-out;
}

.hero__link {
    display: flex;
    font-size: 18px;
    font-weight: 300;
}

.hero__link i {
    font-size: 20px;
    transition: 0.8s;

}

.hero__link:hover i {
    transform: rotate(90deg);
    transition: 0.8s;
    color: var(--color-secondary);
}


/* About */
.about__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 150px;
}

.about__title {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

.about__title span {
    color: var(--font-color);
    font-size: 40px;
    font-weight: 500;
}

.about__description {
    max-width: 500px;
}


/* Skills */
.skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title span {
    color: var(--color-primary);
}

.skills__block {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills__content .skills__block i {
    font-size: 100px;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.skills__content .skills__block i:hover {
    color: var(--color);
    transition: all 0.4s ease-in-out;
}

/* Project */
.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    color: var(--color-primary);
    padding-bottom: 30px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.project img {
    max-width: 650px;
    height: 300px;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.project img:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: -3px 3px 5px rgba(64, 224, 208, 0.5);
}

.project__title {
    color: var(--color-secondary);
}

.project p {
    padding-left: 10px;
}

.project p span {
    font-weight: 700;
    color: var(--font-color);
}

.project__link {
    padding-left: 10px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}

.project__link:hover {
    gap: 15px;
}


/* Contact */
.contact {
    padding-bottom: 0;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contact__title {
    color: var(--color-primary);
}

.email-form {
    background: var(--form-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 40px 20px 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.email-form div {
    display: flex;
    flex-direction: column;
    padding: 15px 0;

}

.email-form div label {
    padding-left: 5px;
    padding-bottom: 7px;
    color: var(--form-font);
    font-weight: 300;
}

.email-form div label span {
    color: red;
}

.email-form div input,
.email-form div textarea {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: #e1e1e1;
    transition: all 0.3s;
}

.email-form div input:focus,
.email-form div textarea:focus {
    background: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.messengers {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.messenger {
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.bi-github:hover {
    border-color: var(--bw-color);
}

.messenger:hover {
    border-color: var(--logoColor);
    color: var(--logoColor);
    transition: all 0.5s ease-in-out;
}






/* Mobile Menu */
.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10;
    right: 0;
    z-index: 999;
    width: 320px;
    display: none;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(31, 40, 51);
    padding-right: 40px;
    text-align: right;
    animation: burgerAnimation 0.5s;
}

.menu__list {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__link {
    font-size: 30px;
    font-weight: 800;
    border-bottom: 1px solid;
    color: #45A29E;
}

.menu__link:hover {
    color: #66FCF1;
}

.open {
    display: flex !important;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Theme switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: -1px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: rgb(0, 0, 0) url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: #21f3f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21f3f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: rgb(255, 255, 255) url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* button up */
.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.btn-up_hide {
    display: none;
}

/* Media */

@media screen and (max-width: 1024px) {}